mixin search()
    form(form-search)
        div(class="form-group d-flex mb-8")
            input(
                type="text"
                placeholder="Nhập từ khóa..."
                class="form-control"
                name="keyword"
            )
            button(
                type="submit"
                class="btn btn-primary"
            ) Tìm 