
extends ../../layouts/default.pug
include ../../mixins/alert.pug
block main
    .main-content
        +alert-error(5000)
        +alert-success(5000)

        .container.my-5 
            .row-justify-content-center 
                .col-8
                    h1(class="mb-4") Đăng nhập tài khoản
                    form(form-login)
                        div(class="form-group")
                            label(for="email") Email
                            input(
                                type="type"
                                class="form-control"
                                id="email"
                                name="email"
                             
                            )
                        div(class="form-group")
                            label(for="password") Mật khẩu
                            input(
                                type="password"
                                class="form-control"
                                id="password"
                                name="password"
                               
                            )
                        div(class="form-group")
                            button(
                                type="submit"
                                class="btn btn-primary btn-block"
                            ) Đăng nhập
                    a(href="/user/password/forgot") Quên mật khẩu