extends ../../layouts/default
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main 
    +alert-success(5000)
    .container.my-3 
        .row 
            .col-12 
                h4(class="mb-2") Thông tin lịch sử đặt hàng
                table(class="table table-bordered")
                    thead
                        tr
                            th STT
                            th Ngày đặt
                            th Ảnh
                            th Tên
                            th Trạng thái
                            th Giá
                            th Số lượng
                            th Tổng tiền
                            th Ngày thanh toán  <!-- New column for payment date -->
                            th Ngày hoàn tiền <!-- New column for refund date -->
                            th Hành động
                    tbody
                        if(orderItems.length > 0)
                            each item, index in orderItems 
                                tr 
                                    td #{index + 1}
                                    td #{item.timeStart}
                                    td 
                                        img(
                                            src=item.image
                                            alt=item.title
                                            width="80px"
                                        )
                                    td
                                        a(href=`/tours/detail/${item.slug}`) #{item.title}
                                    td #{item.status}
                                    td #{item.price_special.toLocaleString()}đ
                                    td #{item.quantity}
                                    td #{((item.price_special) * (item.quantity)).toLocaleString()}đ
                                    td 
                                        // Check if the status is 'paid' to show payment date
                                        if (item.status === 'paid')
                                            | #{item.paymentDate}
                                        else 
                                            | #{item.paymentDate} 

                                    td 
                                        // Check if the status is 'refund completed' to show refund date
                                        if (item.status === 'refund completed')
                                            | #{item.refund_date}  
                                      

                                    td
                                        div(class="form-control border-0 bg-transparent p-0")
                                            // Only show cancel button if status is not 'paid' and not 'refund completed'
                                            if (item.status !== 'paid' && item.status !== 'refund completed')
                                                button.btn.btn-danger.cancel-tour-btn(onclick=`cancelItem(${item.id})`)
                                                    i.fas.fa-times-circle
                                                    | HỦY TOUR
                                            // Check if order status is 'paid'
                                            if (item.status === 'paid')
                                                button.btn.btn-warning.refund-tour-btn(onclick=`refundItem(${item.id})`)
                                                    i.fas.fa-undo
                                                    | HOÀN TIỀN
            if(orderItems.length > 0)
                h3(class="text-end") Tổng đơn hàng: #{totalPrice.toLocaleString()}đ
                h3(class="text-end") Tổng đơn hàng đã thanh toán: #{paidTotal.toLocaleString()}đ
